<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spam Detection</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Spam Detection</h1>

        <form action="/predict" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="message">Enter a message to check for spam:</label>
                <textarea class="form-control" name="message" rows="3" placeholder="Enter your message here">{{ message if message else '' }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Check Spam</button>
        </form>
        

        <hr>

        <!-- Form for file upload -->
        <form action="/predict" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Upload a CSV or XLSX file with messages:</label>
                <input type="file" name="file" class="form-control-file" accept=".csv, .xlsx">
            </div>
            <button type="submit" class="btn btn-primary">Check Multiple Messages</button>
        </form>
    </div>
</body>
</html>
